*{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}
body{
background-color: hsla(231, 91%, 54%, 1.5) ;
}
/*Start Functionalitys*/
.container-start{
    margin: 13rem auto;
    display: flex;
    justify-content: center;
}
.button-start{
    border-radius: 48%;
    background-color:#000;
    color: #fff;
    font-size: 40px;
    padding: 80px;
    border: none;
    transition: background-color 0.5s;

}
.button-start:hover{
    background-color: #101;
    color: #fff;
    box-shadow: 3px 3px 6px 6px #000;
}

/*Modal */
@keyframes modalEntrada {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
  }
.modal{
    animation: modalEntrada 0.3s ease-out;
    display: none;
    align-items: center;
    background-color: #ede;
    padding: 10px;
    margin: 20px auto;
    width: 30rem;
    height: 35rem;
    border-radius: 20px;
    flex-direction: column;
    font-family: cursive;
}
.question-number{
    color: #0F6BF1;
    font-size: 60px;
    margin-top: 1rem;
}
.question{
    margin-top: 3rem;
    font-size: 35px;
    font-style:unset;
    font-weight: 140;
    border-bottom: solid #0F6BF1 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px  #E4EDFA;
}
.question:hover, .question-number:hover{
    color: #666;
}
.container-response{
    display: space;
    margin-top:40px ;
}
.response{
    margin: 20px auto;
    width: 200px;

}
.response> input {
    width: 20px;
    height: 20px;
    padding: 5px;
}
.response >label{
    font-size: 20px;
    margin-left: 5px;
}
/*Modal Buttons*/
.buttons-actions{
    justify-content: center;
    display: flex;
    margin: 15px auto;

}
.button{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.button{
    padding: 15px;
    width: 100px;
    margin: 10px;
    height: auto;
    border-radius: 20px;
    border:none;
    font-size: 18px;
    font-family: cursive;
    box-shadow: 4px 4px 4px #333d;
    animation: 3s infinite alternate;

}

 #btn-cancel{
    background-color: #FC0C0C ;
    color: #fff;
 }
 #btn-cancel:hover{
    background-color: #DD1818;
 }
 #btn-reset{
    background-color:#FCDF0C ;
    color: #fff;
 }
 #btn-reset:hover{
    background-color: #EAD117;
 }
 #btn-next{
    background-color: #0CFC2D;
    color: #fff;
 }
 #btn-next:hover{
    background-color: #14F53D;
 }

