*{
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}
body{
background-color: #6E0AD1;
}
/*Start Functionalitys*/
.container-start{
    margin: 10rem auto;
    display: flex;
    justify-content: center;
}
.button-start{
    border-radius: 48%;
    background-color:#EE14F5;
    color: #fff;
    font-size: 100px;
    padding: 80px;
    font-family: cursive;
    width: 600px;
    height: 600px;
    border: none;
    box-shadow: #14F5DD 7px 17px 17px 30px;
    transition: background-color 0.5s;

}
.button-start:hover{
    background-color: #101;
    color: #fff;
    box-shadow: 3px 3px 6px 6px #000;
}

/*Modal */
@keyframes modalEntrada {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
  }
.modal{
    animation: modalEntrada 0.3s ease-out;
    display: none;
    align-items: center;
    background-color: #ede;
    padding: 10px;
    margin: 20px auto;
    width: 37rem;
    height: 42rem;
    border-radius: 20px;
    flex-direction: column;
    font-family: cursive;
}
.question-number{
    color: #0F6BF1;
    font-size: 50px;
    padding: 10px;
    margin-top: 1rem;
    box-shadow: 5px 5px 5px 5px #a09999;
    border: none;
    border-bottom: #152dff solid 5px;
    border-radius: 10px;
}
.question{
    margin-top: 3rem;
    text-align: center;
    font-size: 25px;
    font-style:unset;
    font-weight: 140;
}
.question:hover, .question-number:hover{
    color: #666;
}
.container-response{
    display: space;
    margin-top:40px ;
}
.response{
    margin: 20px auto;
    width: 200px;

}
.response> input {
    width: 20px;
    height: 20px;
    padding: 5px;
}
.response >label{
    font-size: 20px;
    margin-left: 5px;
}
/*Modal Buttons*/
.buttons-actions{
    justify-content: center;
    display: flex;
    margin: 15px auto;

}
.button{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.button{
    padding: 15px;
    width: 100px;
    margin: 10px;
    height: auto;
    border-radius: 20px;
    border:none;
    font-size: 18px;
    font-family: cursive;
    box-shadow: 4px 4px 4px #333d;
    animation: 3s infinite alternate;

}

 #btn-cancel{
    background-color: #FC0C0C ;
    color: #fff;
 }
 #btn-cancel:hover{
    background-color: #DD1818;
 }
 #btn-reset{
    background-color:#FCDF0C ;
    color: #fff;
 }
 #btn-reset:hover{
    background-color: #EAD117;
 }
 #btn-next{
    background-color: #0CFC2D;
    color: #fff;
 }
 #btn-next:hover{
    background-color: #14F53D;
 }
 #btn-finish{
    background-color: #0F6BF1;
 }
#btn-finish:hover{
    background-color: #152dff;
}


.container-answers{
    margin-top: 45px;
    color: #145CF5;
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    left: 0;
    justify-content: left;
}
.correct-answers{
    color: #145CF5;
    margin: 20px;
}
.correct-answers > b{
    margin: 15px;
    color: #000;
}
.incorrect-answers{
    color:#DD1818;
    margin:20px
}

.incorrect-answers > b{
    color:#000
}
.icon-puntuation{
width: 250px;
height: 250px;
margin-left:35px ;    
}